# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CDNC1\source\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/T40I10D100K_with_P.dat.txt
