# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CDNC1\source\.idea/dataSources/
/../../../../:\CDNC1\source\src/dataset/

/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
